.header {
    height: 60px;
    background-color: rgb(0, 170, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    width: calc(100vw - 80px);
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 2;
    color: rgb(238, 254, 255) !important;
}
.LeftHead {
    display: flex;
    align-items: center;
    height: 100%;
}
.LeftHead .search {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
.LeftHead .search input {
    width: 250px;
    padding: 5px 10px;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(221, 221, 221);
}
.LeftHead .search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}
.LeftHead h1 {
    font-size: 25px;
    margin-right: 30px;
}
.RightHead {
    display: flex;
    height: 100%;
}
.RightHead > a {
    color: white;
    text-decoration: none;
}
.RightHead > a.active {
    border-bottom: 3px solid black;
}
.RightHead .each {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    width: 95px;
    height: 100%;
    transition: all 0.2s;
}
.RightHead span {
    font-size: 14px;
}
.RightHead .each > i {
    font-size: 20px;
}
.RightHead .each:hover {
    background-color: rgba(0, 0, 0, 0.205);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .LeftHead .search {
        display: none;
    }
}
@media screen and (max-width: 630px) {
    .LeftHead {
        width: 120px !important;
    }
    header {
        height: 50px !important;
        width: calc(100% - 30px) !important;
        padding: 0px 15px !important;
    }
    .RightHead > .each {
        width: 40px;
    }
    .RightHead > .each span {
        display: none;
    }
}